@page
@using System.Diagnostics
@model HelloRazor.Pages.ProcessModel
@{
    var procs = ViewData["Procs"] as Process[];
}

<div>
    <h2>Process Page</h2>
    @if (procs != null)
    {
        foreach (var p in procs)
        {
            <div>
                <p>Process Name: @p.ProcessName</p>
                <p>Process ID: @p.Id</p>
            </div>
        }
    }
    else
    {
        <p>No processes available.</p>
    }
</div>
